app/pkgs/Wadl/AzureCosmosDB.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://brazil-001.azure-apim.net/apim/documentdb" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="AzureCosmosDB" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Azure Cosmos DB">Azure Cosmos DB es un servicio de base de datos de varios modelos y distribución global. Está diseñado para permitirle la ampliación flexible e independiente, tanto del rendimiento como del almacenamiento, entre cualquier número de regiones geográficas con un Acuerdo de nivel de servicio integral.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://brazil-001.azure-apim.net/apim/documentdb" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="DocumentsQuery_QueryText_def" />
      <object name="DocumentsQuery">
        <property name="QueryText" type="string" />
      </object>
      <array typeRef="ObjectWithoutType" name="QueryDocumentsResponse_Documents_def" />
      <integer name="QueryDocumentsResponse__count_def" />
      <string name="QueryDocumentsResponse_ActivityId_def" />
      <object name="QueryDocumentsResponse">
        <property name="Documents" typeRef="QueryDocumentsResponse_Documents_def" />
        <property name="_count" type="integer" />
        <property name="ActivityId" type="string" />
      </object>
      <untypedObject name="Object" />
      <array typeRef="ObjectWithoutType" name="DocumentsCollection_value_def" />
      <string name="DocumentsCollection_ContinuationToken_def" />
      <integer name="DocumentsCollection_Count_def" />
      <number name="DocumentsCollection_RequestCharge_def" />
      <string name="DocumentsCollection_SessionToken_def" />
      <string name="DocumentsCollection_ActivityId_def" />
      <object name="DocumentsCollection">
        <property name="value" typeRef="DocumentsCollection_value_def" />
        <property name="ContinuationToken" type="string" />
        <property name="Count" type="integer" />
        <property name="RequestCharge" type="number" />
        <property name="SessionToken" type="string" />
        <property name="ActivityId" type="string" />
      </object>
      <string name="getAccountResponse__self_def" />
      <string name="getAccountResponse__rid_def" />
      <string name="getAccountResponse_id_def" />
      <object name="getAccountResponse">
        <property name="_self" type="string" />
        <property name="_rid" type="string" />
        <property name="id" type="string" />
      </object>
      <string name="getDatabasesResponse__rid_def" />
      <string name="getDatabasesResponse_Databases_def_items_def_id_def" />
      <string name="getDatabasesResponse_Databases_def_items_def__rid_def" />
      <string name="getDatabasesResponse_Databases_def_items_def__self_def" />
      <string name="getDatabasesResponse_Databases_def_items_def__etag_def" />
      <string name="getDatabasesResponse_Databases_def_items_def__colls_def" />
      <string name="getDatabasesResponse_Databases_def_items_def__users_def" />
      <integer name="getDatabasesResponse_Databases_def_items_def__ts_def" />
      <object name="getDatabasesResponse_Databases_def_items_def">
        <property name="id" type="string" />
        <property name="_rid" type="string" />
        <property name="_self" type="string" />
        <property name="_etag" type="string" />
        <property name="_colls" type="string" />
        <property name="_users" type="string" />
        <property name="_ts" type="integer" />
      </object>
      <array typeRef="getDatabasesResponse_Databases_def_items_def" name="getDatabasesResponse_Databases_def" />
      <integer name="getDatabasesResponse__count_def" />
      <object name="getDatabasesResponse">
        <property name="_rid" type="string" />
        <property name="Databases" typeRef="getDatabasesResponse_Databases_def" />
        <property name="_count" type="integer" />
      </object>
      <string name="getDatabaseResponse_id_def" />
      <string name="getDatabaseResponse__rid_def" />
      <string name="getDatabaseResponse__self_def" />
      <string name="getDatabaseResponse__etag_def" />
      <string name="getDatabaseResponse__colls_def" />
      <string name="getDatabaseResponse__users_def" />
      <integer name="getDatabaseResponse__ts_def" />
      <object name="getDatabaseResponse">
        <property name="id" type="string" />
        <property name="_rid" type="string" />
        <property name="_self" type="string" />
        <property name="_etag" type="string" />
        <property name="_colls" type="string" />
        <property name="_users" type="string" />
        <property name="_ts" type="integer" />
      </object>
      <string name="getCollectionsResponse__rid_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def_id_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_indexingMode_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_automatic_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_includedPaths_def_items_def_path_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def_items_def_kind_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def_items_def_dataType_def" />
      <integer name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def_items_def_precision_def" />
      <object name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def_items_def">
        <property name="kind" type="string" />
        <property name="dataType" type="string" />
        <property name="precision" type="integer" />
      </object>
      <array typeRef="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def_items_def" name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def" />
      <object name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_includedPaths_def_items_def">
        <property name="path" type="string" />
        <property name="indexes" typeRef="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def" />
      </object>
      <array typeRef="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_includedPaths_def_items_def" name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_includedPaths_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_excludedPaths_def_items_def" />
      <array type="string" name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_excludedPaths_def" />
      <object name="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def">
        <property name="indexingMode" type="string" />
        <property name="automatic" type="string" />
        <property name="includedPaths" typeRef="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_includedPaths_def" />
        <property name="excludedPaths" typeRef="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def_excludedPaths_def" />
      </object>
      <string name="getCollectionsResponse_DocumentCollections_def_items_def__rid_def" />
      <integer name="getCollectionsResponse_DocumentCollections_def_items_def__ts_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def__self_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def__etag_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def__docs_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def__sprocs_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def__triggers_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def__udfs_def" />
      <string name="getCollectionsResponse_DocumentCollections_def_items_def__conflicts_def" />
      <object name="getCollectionsResponse_DocumentCollections_def_items_def">
        <property name="id" type="string" />
        <property name="indexingPolicy" typeRef="getCollectionsResponse_DocumentCollections_def_items_def_indexingPolicy_def" />
        <property name="_rid" type="string" />
        <property name="_ts" type="integer" />
        <property name="_self" type="string" />
        <property name="_etag" type="string" />
        <property name="_docs" type="string" />
        <property name="_sprocs" type="string" />
        <property name="_triggers" type="string" />
        <property name="_udfs" type="string" />
        <property name="_conflicts" type="string" />
      </object>
      <array typeRef="getCollectionsResponse_DocumentCollections_def_items_def" name="getCollectionsResponse_DocumentCollections_def" />
      <integer name="getCollectionsResponse__count_def" />
      <object name="getCollectionsResponse">
        <property name="_rid" type="string" />
        <property name="DocumentCollections" typeRef="getCollectionsResponse_DocumentCollections_def" />
        <property name="_count" type="integer" />
      </object>
      <string name="getCollectionResponse_items_def_id_def" />
      <string name="getCollectionResponse_items_def_indexingPolicy_def_indexingMode_def" />
      <string name="getCollectionResponse_items_def_indexingPolicy_def_automatic_def" />
      <string name="getCollectionResponse_items_def_indexingPolicy_def_includedPaths_def_items_def_path_def" />
      <string name="getCollectionResponse_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def_items_def_kind_def" />
      <string name="getCollectionResponse_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def_items_def_dataType_def" />
      <integer name="getCollectionResponse_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def_items_def_precision_def" />
      <object name="getCollectionResponse_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def_items_def">
        <property name="kind" type="string" />
        <property name="dataType" type="string" />
        <property name="precision" type="integer" />
      </object>
      <array typeRef="getCollectionResponse_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def_items_def" name="getCollectionResponse_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def" />
      <object name="getCollectionResponse_items_def_indexingPolicy_def_includedPaths_def_items_def">
        <property name="path" type="string" />
        <property name="indexes" typeRef="getCollectionResponse_items_def_indexingPolicy_def_includedPaths_def_items_def_indexes_def" />
      </object>
      <array typeRef="getCollectionResponse_items_def_indexingPolicy_def_includedPaths_def_items_def" name="getCollectionResponse_items_def_indexingPolicy_def_includedPaths_def" />
      <string name="getCollectionResponse_items_def_indexingPolicy_def_excludedPaths_def_items_def" />
      <array type="string" name="getCollectionResponse_items_def_indexingPolicy_def_excludedPaths_def" />
      <object name="getCollectionResponse_items_def_indexingPolicy_def">
        <property name="indexingMode" type="string" />
        <property name="automatic" type="string" />
        <property name="includedPaths" typeRef="getCollectionResponse_items_def_indexingPolicy_def_includedPaths_def" />
        <property name="excludedPaths" typeRef="getCollectionResponse_items_def_indexingPolicy_def_excludedPaths_def" />
      </object>
      <string name="getCollectionResponse_items_def__rid_def" />
      <integer name="getCollectionResponse_items_def__ts_def" />
      <string name="getCollectionResponse_items_def__self_def" />
      <string name="getCollectionResponse_items_def__etag_def" />
      <string name="getCollectionResponse_items_def__docs_def" />
      <string name="getCollectionResponse_items_def__sprocs_def" />
      <string name="getCollectionResponse_items_def__triggers_def" />
      <string name="getCollectionResponse_items_def__udfs_def" />
      <string name="getCollectionResponse_items_def__conflicts_def" />
      <object name="getCollectionResponse_items_def">
        <property name="id" type="string" />
        <property name="indexingPolicy" typeRef="getCollectionResponse_items_def_indexingPolicy_def" />
        <property name="_rid" type="string" />
        <property name="_ts" type="integer" />
        <property name="_self" type="string" />
        <property name="_etag" type="string" />
        <property name="_docs" type="string" />
        <property name="_sprocs" type="string" />
        <property name="_triggers" type="string" />
        <property name="_udfs" type="string" />
        <property name="_conflicts" type="string" />
      </object>
      <array typeRef="getCollectionResponse_items_def" name="getCollectionResponse" />
      <untypedObject name="postDocumentsRequest" />
      <string name="postDocumentsResponse__rid_def" />
      <integer name="postDocumentsResponse__ts_def" />
      <string name="postDocumentsResponse__self_def" />
      <string name="postDocumentsResponse__etag_def" />
      <string name="postDocumentsResponse__attachments_def" />
      <string name="postDocumentsResponse_id_def" />
      <object name="postDocumentsResponse">
        <property name="_rid" type="string" />
        <property name="_ts" type="integer" />
        <property name="_self" type="string" />
        <property name="_etag" type="string" />
        <property name="_attachments" type="string" />
        <property name="id" type="string" />
      </object>
      <untypedObject name="putDocumentRequest" />
      <string name="putDocumentResponse__rid_def" />
      <string name="putDocumentResponse_id_def" />
      <object name="putDocumentResponse">
        <property name="_rid" type="string" />
        <property name="id" type="string" />
      </object>
      <string name="getDocumentsResponse__rid_def" />
      <untypedObject name="getDocumentsResponse_Documents_def_items_def" />
      <array typeRef="getDocumentsResponse_Documents_def_items_def" name="getDocumentsResponse_Documents_def" />
      <object name="getDocumentsResponse">
        <property name="_rid" type="string" />
        <property name="Documents" typeRef="getDocumentsResponse_Documents_def" />
      </object>
      <untypedObject name="getDocumentResponse" />
      <string name="queryRequest_query_def" />
      <object name="queryRequest">
        <property name="query" type="string" />
      </object>
      <string name="queryResponse__rid_def" />
      <number name="queryResponse__count_def" />
      <untypedObject name="queryResponse_Documents_def_items_def" />
      <array typeRef="queryResponse_Documents_def_items_def" name="queryResponse_Documents_def" />
      <object name="queryResponse">
        <property name="_rid" type="string" />
        <property name="_count" type="number" />
        <property name="Documents" typeRef="queryResponse_Documents_def" />
      </object>
      <integer name="getStoredProceduresResponse__count_def" />
      <string name="getStoredProceduresResponse__rid_def" />
      <string name="getStoredProceduresResponse_StoredProcedures_def_items_def__etag_def" />
      <string name="getStoredProceduresResponse_StoredProcedures_def_items_def__rid_def" />
      <string name="getStoredProceduresResponse_StoredProcedures_def_items_def__self_def" />
      <integer name="getStoredProceduresResponse_StoredProcedures_def_items_def__ts_def" />
      <string name="getStoredProceduresResponse_StoredProcedures_def_items_def_body_def" />
      <string name="getStoredProceduresResponse_StoredProcedures_def_items_def_id_def" />
      <object name="getStoredProceduresResponse_StoredProcedures_def_items_def">
        <property name="_etag" type="string" />
        <property name="_rid" type="string" />
        <property name="_self" type="string" />
        <property name="_ts" type="integer" />
        <property name="body" type="string" />
        <property name="id" type="string" />
      </object>
      <array typeRef="getStoredProceduresResponse_StoredProcedures_def_items_def" name="getStoredProceduresResponse_StoredProcedures_def" />
      <object name="getStoredProceduresResponse">
        <property name="_count" type="integer" />
        <property name="_rid" type="string" />
        <property name="StoredProcedures" typeRef="getStoredProceduresResponse_StoredProcedures_def" />
      </object>
      <string name="createStoredProcedureResponse__etag_def" />
      <string name="createStoredProcedureResponse__rid_def" />
      <string name="createStoredProcedureResponse__self_def" />
      <integer name="createStoredProcedureResponse__ts_def" />
      <string name="createStoredProcedureResponse_body_def" />
      <string name="createStoredProcedureResponse_id_def" />
      <object name="createStoredProcedureResponse">
        <property name="_etag" type="string" />
        <property name="_rid" type="string" />
        <property name="_self" type="string" />
        <property name="_ts" type="integer" />
        <property name="body" type="string" />
        <property name="id" type="string" />
      </object>
      <array typeRef="CosmosDbAccount" name="CosmosDbAccountList_value_def" />
      <object name="CosmosDbAccountList">
        <property name="value" typeRef="CosmosDbAccountList_value_def" />
      </object>
      <string name="CosmosDbAccount_Name_def" />
      <string name="CosmosDbAccount_DisplayName_def" />
      <object name="CosmosDbAccount">
        <property name="Name" type="string" />
        <property name="DisplayName" type="string" />
      </object>
      <untypedObject name="ObjectWithoutType" />
      <string name="CreateStoredProcedure_param_body_def_body_def" />
      <string name="CreateStoredProcedure_param_body_def_id_def" />
      <object name="CreateStoredProcedure_param_body_def">
        <property name="body" type="string" />
        <property name="id" type="string" />
      </object>
      <string name="CreateStoredProcedure_V2_param_body_def_body_def" />
      <string name="CreateStoredProcedure_V2_param_body_def_id_def" />
      <object name="CreateStoredProcedure_V2_param_body_def">
        <property name="body" type="string" />
        <property name="id" type="string" />
      </object>
      <string name="ReplaceStoredProcedure_param_body_def_body_def" />
      <string name="ReplaceStoredProcedure_param_body_def_id_def" />
      <object name="ReplaceStoredProcedure_param_body_def">
        <property name="body" type="string" />
        <property name="id" type="string" />
      </object>
      <string name="ExecuteStoredProcedure_param_parameters_def" />
      <string name="DeleteStoredProcedure_responses_204_def" />
      <string name="ReplaceStoredProcedure_V2_param_body_def_body_def" />
      <string name="ReplaceStoredProcedure_V2_param_body_def_id_def" />
      <object name="ReplaceStoredProcedure_V2_param_body_def">
        <property name="body" type="string" />
        <property name="id" type="string" />
      </object>
      <string name="ExecuteStoredProcedure_V2_param_parameters_def" />
      <string name="DeleteStoredProcedure_V2_responses_204_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://brazil-001.azure-apim.net/apim/documentdb">
    <resource path="/{connectionId}/v2/dbs/{databaseId}/colls/{collectionId}/query">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="QueryDocumentsV2" actionName="QueryDocumentsV2" visibility="advanced" siena:isDeprecated="true" siena:family="QueryDocuments" siena:revision="2" siena:status="Preview">
        <doc title="Documentos de consulta V2&#xA;Documentos de consulta V2." />
        <request>
          <param style="query" name="partitionKey" type="xs:string">
            <doc title="Valor de clave de partición." />
          </param>
          <param style="query" name="continuationToken" type="xs:string">
            <doc title="Token para recuperar los resultados adicionales de la operación." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="QueryText" path="/QueryText" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:QueryDocumentsResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v3/dbs/{databaseId}/colls/{collectionId}/query">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="QueryDocumentsV3" actionName="QueryDocumentsV3" visibility="advanced" siena:isDeprecated="true" siena:family="QueryDocuments" siena:revision="3" siena:status="Production">
        <doc title="Consultar documentos V3&#xA;Permite consultar documentos V3." />
        <request>
          <param style="query" name="queryText" type="xs:string" required="true">
            <doc title="Consulta SQL." />
          </param>
          <param style="query" name="partitionKey" type="xs:string">
            <doc title="Si está vacío, se usarán todas las particiones para buscar documentos." />
          </param>
          <param style="query" name="maxItemCount" type="xs:int">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="query" name="continuationToken" type="xs:string">
            <doc title="Token para obtener resultados adicionales." />
          </param>
          <param style="query" name="enableCrossPartition" type="xs:boolean">
            <doc title="Indica si el usuario está habilitado para enviar más de una solicitud para ejecutar la consulta." />
          </param>
          <param style="query" name="consistencyLevel" type="xs:string">
            <doc title="Nivel de coherencia necesario para la operación de fuente (consulta o lectura de fuente)." />
            <option value="Strong" />
            <option value="BoundedStaleness" />
            <option value="Session" />
            <option value="Eventual" />
            <option value="ConsistentPrefix" />
          </param>
          <param style="query" name="sessionToken" type="xs:string">
            <doc title="Token de sesión que se va a usar con coherencia de sesión." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DocumentsCollection" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v4/dbs/{databaseId}/colls/{containerId}/query">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="containerId" type="xs:string" required="true">
        <doc title="Nombre del contenedor." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="QueryDocumentsV4" actionName="QueryDocumentsV4" visibility="advanced" siena:isDeprecated="true" siena:family="QueryDocuments" siena:revision="4" siena:status="Preview">
        <doc title="Documentos de consulta V4&#xA;Documentos de consulta V4." />
        <request>
          <param style="query" name="queryText" type="xs:string">
            <doc title="Consulta SQL. Si está vacía, devolverá todos los documentos." />
          </param>
          <param style="query" name="partitionKey" type="xs:string">
            <doc title="Si está vacía, se usarán todas las particiones para buscar documentos." />
          </param>
          <param style="query" name="maxItemCount" type="xs:int">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="query" name="continuationToken" type="xs:string">
            <doc title="Token para capturar resultados adicionales." />
          </param>
          <param style="query" name="consistencyLevel" type="xs:string">
            <doc title="Nivel de coherencia necesario para la operación de fuente (consulta o lectura de fuente)." />
            <option value="Strong" />
            <option value="BoundedStaleness" />
            <option value="Session" />
            <option value="Eventual" />
            <option value="ConsistentPrefix" />
          </param>
          <param style="query" name="sessionToken" type="xs:string">
            <doc title="Token de sesión que se usará con coherencia de sesión." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DocumentsCollection" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v5/cosmosdb/{cosmosDbAccountName}/dbs/{databaseId}/colls/{containerId}/query">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="cosmosDbAccountName" type="xs:string" required="true">
        <doc title="El nombre de la cuenta de Azure Cosmos DB (sin documents.azure.com)." />
      </param>
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="containerId" type="xs:string" required="true">
        <doc title="Nombre del contenedor." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="QueryDocumentsV5" actionName="QueryDocuments_V5" visibility="advanced" siena:isDeprecated="false" siena:family="QueryDocuments" siena:revision="5" siena:status="Production">
        <doc title="Consultar documentos V5&#xA;Permite consultar documentos (V5)." />
        <request>
          <param style="query" name="queryText" type="xs:string">
            <doc title="Consulta SQL. Si está vacía, devolverá todos los documentos." />
          </param>
          <param style="query" name="partitionKey" type="xs:string">
            <doc title="El valor se debe proporcionar según su tipo (&quot;cadena&quot;, 42, 0,5). Si está vacío, todas las particiones se usarán para buscar documentos." />
          </param>
          <param style="query" name="maxItemCount" type="xs:int">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="query" name="continuationToken" type="xs:string">
            <doc title="Token para capturar resultados adicionales." />
          </param>
          <param style="query" name="consistencyLevel" type="xs:string">
            <doc title="Nivel de coherencia necesario para la operación de fuente (consulta o lectura de fuente)." />
            <option value="Strong" />
            <option value="BoundedStaleness" />
            <option value="Session" />
            <option value="Eventual" />
            <option value="ConsistentPrefix" />
          </param>
          <param style="query" name="sessionToken" type="xs:string">
            <doc title="Token de sesión que se usará con coherencia de sesión." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DocumentsCollection" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/dbs/{databaseId}/colls/{collectionId}/docs">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetDocumentsV2" actionName="GetDocumentsV2" visibility="advanced" siena:isDeprecated="true" siena:family="GetDocuments" siena:revision="2" siena:status="Preview">
        <doc title="Obtener todos los documentos V2&#xA;Permite obtener todos los documentos V2." />
        <request>
          <param style="query" name="partitionKey" type="xs:string">
            <doc title="Si está vacío, se usarán todas las particiones para buscar documentos." />
          </param>
          <param style="query" name="maxItemCount" type="xs:int">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="query" name="continuationToken" type="xs:string">
            <doc title="Token para obtener resultados adicionales." />
          </param>
          <param style="query" name="consistencyLevel" type="xs:string">
            <doc title="Nivel de coherencia necesario para la operación de fuente (consulta o lectura de fuente)." />
            <option value="Strong" />
            <option value="BoundedStaleness" />
            <option value="Session" />
            <option value="Eventual" />
            <option value="ConsistentPrefix" />
          </param>
          <param style="query" name="sessionToken" type="xs:string">
            <doc title="Token de sesión que se va a usar con coherencia de sesión." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:DocumentsCollection" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/dbs/{databaseId}/colls/{collectionId}/docs">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetDocuments" actionName="GetDocuments" siena:isDeprecated="true" siena:family="GetDocuments" siena:revision="1" siena:status="Production">
        <doc title="Obtener todos los documentos&#xA;Permite obtener todos los documentos." />
        <request>
          <param style="header" name="x-ms-documentdb-raw-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-documentdb-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-max-item-count" type="xs:double">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="header" name="x-ms-continuation" type="xs:string">
            <doc title="Token de cadena que se devuelve para consultas y operaciones de lectura de fuente si hay más resultados que se leerán." />
          </param>
          <param style="header" name="x-ms-consistency-level" type="xs:string">
            <doc title="Consisten en la invalidación del nivel de coherencia. Los valores válidos son Seguro, Limitado, Sesión o Posible (ordenados de más seguro a menos seguro)." />
            <option value="Strong" />
            <option value="Bounded" />
            <option value="Session" />
            <option value="Eventual" />
          </param>
          <param style="header" name="x-ms-session-token" type="xs:string">
            <doc title="Token de cadena que se usa con una coherencia en el ámbito de sesión." />
          </param>
          <param style="header" name="x-ms-activity-id" type="xs:string">
            <doc title="Identificador proporcionado por el cliente para la operación, que se mostrará en la respuesta del servidor." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:getDocumentsResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/dbs/{databaseId}/colls/{collectionId}/docs">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateDocument" actionName="CreateDocument" siena:isDeprecated="true" siena:family="CreateDocument" siena:revision="1" siena:status="Production">
        <doc title="Crear o actualizar documento&#xA;Cree o actualice un documento. Al crear un documento en DocumentDB, el cuerpo debe incluir una propiedad de id." />
        <request>
          <param style="header" name="x-ms-documentdb-raw-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-documentdb-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-max-item-count" type="xs:double">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="header" name="x-ms-continuation" type="xs:string">
            <doc title="Token de cadena que se devuelve para consultas y operaciones de lectura de fuente si hay más resultados que se leerán." />
          </param>
          <param style="header" name="x-ms-consistency-level" type="xs:string">
            <doc title="Consisten en la invalidación del nivel de coherencia. Los valores válidos son Seguro, Limitado, Sesión o Posible (ordenados de más seguro a menos seguro)." />
            <option value="Strong" />
            <option value="Bounded" />
            <option value="Session" />
            <option value="Eventual" />
          </param>
          <param style="header" name="x-ms-session-token" type="xs:string">
            <doc title="Token de cadena que se usa con una coherencia en el ámbito de sesión." />
          </param>
          <param style="header" name="x-ms-activity-id" type="xs:string">
            <doc title="Identificador proporcionado por el cliente para la operación, que se mostrará en la respuesta del servidor." />
          </param>
          <param style="header" name="x-ms-documentdb-is-upsert" type="xs:boolean">
            <doc title="Si se establece en true, el documento se reemplazará si existe creado en otra ubicación." />
          </param>
          <param style="header" name="x-ms-documentdb-pre-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar antes de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-documentdb-post-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar después de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="body" path="" type="service:postDocumentsRequest" required="true">
              <doc title="Documento que se va a crear." />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:postDocumentsResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/cosmosdb/{cosmosDbAccountName}/dbs/{databaseId}/colls/{collectionId}/docs">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="cosmosDbAccountName" type="xs:string" required="true">
        <doc title="El nombre de la cuenta de Azure Cosmos DB (sin documents.azure.com)." />
      </param>
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetDocumentsV3" actionName="GetDocuments_V3" siena:isDeprecated="false" siena:family="GetDocuments" siena:revision="3" siena:status="Production">
        <doc title="Obtener todos los documentos (V3)&#xA;Permite obtener todos los documentos (V3)." />
        <request>
          <param style="header" name="x-ms-documentdb-raw-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-documentdb-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-max-item-count" type="xs:double">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="header" name="x-ms-continuation" type="xs:string">
            <doc title="Token de cadena que se devuelve para consultas y operaciones de lectura de fuente si hay más resultados que se leerán." />
          </param>
          <param style="header" name="x-ms-consistency-level" type="xs:string">
            <doc title="Consisten en la invalidación del nivel de coherencia. Los valores válidos son Seguro, Limitado, Sesión o Posible (ordenados de más seguro a menos seguro)." />
            <option value="Strong" />
            <option value="Bounded" />
            <option value="Session" />
            <option value="Eventual" />
          </param>
          <param style="header" name="x-ms-session-token" type="xs:string">
            <doc title="Token de cadena que se usa con una coherencia en el ámbito de sesión." />
          </param>
          <param style="header" name="x-ms-activity-id" type="xs:string">
            <doc title="Identificador proporcionado por el cliente para la operación, que se mostrará en la respuesta del servidor." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:getDocumentsResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/cosmosdb/{cosmosDbAccountName}/dbs/{databaseId}/colls/{collectionId}/docs">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="cosmosDbAccountName" type="xs:string" required="true">
        <doc title="El nombre de la cuenta de Azure Cosmos DB (sin documents.azure.com)." />
      </param>
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateDocumentV3" actionName="CreateDocument_V3" siena:isDeprecated="false" siena:family="CreateDocument" siena:revision="3" siena:status="Production">
        <doc title="Crear o actualizar documento (V3)&#xA;Permite crear o actualizar un documento. Al crear un documento en DocumentDB, el cuerpo debe incluir una propiedad de id." />
        <request>
          <param style="header" name="x-ms-max-item-count" type="xs:double">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="header" name="x-ms-continuation" type="xs:string">
            <doc title="Token de cadena que se devuelve para consultas y operaciones de lectura de fuente si hay más resultados que se leerán." />
          </param>
          <param style="header" name="x-ms-consistency-level" type="xs:string">
            <doc title="Consisten en la invalidación del nivel de coherencia. Los valores válidos son Seguro, Limitado, Sesión o Posible (ordenados de más seguro a menos seguro)." />
            <option value="Strong" />
            <option value="Bounded" />
            <option value="Session" />
            <option value="Eventual" />
          </param>
          <param style="header" name="x-ms-session-token" type="xs:string">
            <doc title="Token de cadena que se usa con una coherencia en el ámbito de sesión." />
          </param>
          <param style="header" name="x-ms-activity-id" type="xs:string">
            <doc title="Identificador proporcionado por el cliente para la operación, que se mostrará en la respuesta del servidor." />
          </param>
          <param style="header" name="x-ms-documentdb-is-upsert" type="xs:boolean">
            <doc title="Si se establece en true, el documento se reemplazará si existe creado en otra ubicación." />
          </param>
          <param style="header" name="x-ms-documentdb-pre-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar antes de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-documentdb-post-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar después de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="body" path="" type="service:postDocumentsRequest" required="true">
              <doc title="El documento que se creará." />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:postDocumentsResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v3/dbs/{databaseId}/colls/{collectionId}/docs">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateDocumentV2" actionName="CreateDocumentV2" siena:isDeprecated="true" siena:family="CreateDocument" siena:revision="2" siena:status="Preview">
        <doc title="Crear o actualizar documento (V2)&#xA;Permite crear o actualizar un documento. Al crear un documento en DocumentDB, el cuerpo debe incluir una propiedad de id." />
        <request>
          <param style="header" name="x-ms-max-item-count" type="xs:double">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="header" name="x-ms-continuation" type="xs:string">
            <doc title="Token de cadena que se devuelve para consultas y operaciones de lectura de fuente si hay más resultados que se leerán." />
          </param>
          <param style="header" name="x-ms-consistency-level" type="xs:string">
            <doc title="Consisten en la invalidación del nivel de coherencia. Los valores válidos son Seguro, Limitado, Sesión o Posible (ordenados de más seguro a menos seguro)." />
            <option value="Strong" />
            <option value="Bounded" />
            <option value="Session" />
            <option value="Eventual" />
          </param>
          <param style="header" name="x-ms-session-token" type="xs:string">
            <doc title="Token de cadena que se usa con una coherencia en el ámbito de sesión." />
          </param>
          <param style="header" name="x-ms-activity-id" type="xs:string">
            <doc title="Identificador proporcionado por el cliente para la operación, que se mostrará en la respuesta del servidor." />
          </param>
          <param style="header" name="x-ms-documentdb-is-upsert" type="xs:boolean">
            <doc title="Si se establece en true, el documento se reemplazará si existe creado en otra ubicación." />
          </param>
          <param style="header" name="x-ms-documentdb-pre-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar antes de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-documentdb-post-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar después de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="body" path="" type="service:postDocumentsRequest" required="true">
              <doc title="El documento que se creará." />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:postDocumentsResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/dbs/{databaseId}/colls/{collectionId}/query">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="QueryDocuments" actionName="QueryDocuments" siena:isDeprecated="true" siena:family="QueryDocuments" siena:revision="1" siena:status="Production">
        <doc title="Consultar documentos&#xA;Permite consultar documentos." />
        <request>
          <param style="header" name="x-ms-documentdb-raw-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-documentdb-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-max-item-count" type="xs:double">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="header" name="x-ms-continuation" type="xs:string">
            <doc title="Token de cadena que se devuelve para consultas y operaciones de lectura de fuente si hay más resultados que se leerán." />
          </param>
          <param style="header" name="x-ms-documentdb-query-enablecrosspartition" type="xs:boolean">
            <doc title="Si la colección está particionada, debe establecerse en True para permitir la ejecución entre varias particiones." />
          </param>
          <param style="header" name="x-ms-consistency-level" type="xs:string">
            <doc title="Consisten en la invalidación del nivel de coherencia. Los valores válidos son Seguro, Limitado, Sesión o Posible (ordenados de más seguro a menos seguro)." />
            <option value="Strong" />
            <option value="Bounded" />
            <option value="Session" />
            <option value="Eventual" />
          </param>
          <param style="header" name="x-ms-session-token" type="xs:string">
            <doc title="Token de cadena que se usa con una coherencia en el ámbito de sesión." />
          </param>
          <param style="header" name="x-ms-activity-id" type="xs:string">
            <doc title="Identificador proporcionado por el cliente para la operación, que se mostrará en la respuesta del servidor." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="query" path="/query" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:queryResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/dbs/{databaseId}/colls/{collectionId}/docs/{documentId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <param style="template" name="documentId" type="xs:string" required="true">
        <doc title="Identificador para el documento." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetDocument" actionName="GetDocument" siena:isDeprecated="true" siena:family="GetDocument" siena:revision="1" siena:status="Production">
        <doc title="Obtener un documento&#xA;Permite obtener un documento." />
        <request>
          <param style="header" name="x-ms-documentdb-raw-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-documentdb-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-max-item-count" type="xs:double">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="header" name="x-ms-continuation" type="xs:string">
            <doc title="Token de cadena que se devuelve para consultas y operaciones de lectura de fuente si hay más resultados que se leerán." />
          </param>
          <param style="header" name="x-ms-consistency-level" type="xs:string">
            <doc title="Consisten en la invalidación del nivel de coherencia. Los valores válidos son Seguro, Limitado, Sesión o Posible (ordenados de más seguro a menos seguro)." />
            <option value="Strong" />
            <option value="Bounded" />
            <option value="Session" />
            <option value="Eventual" />
          </param>
          <param style="header" name="x-ms-session-token" type="xs:string">
            <doc title="Token de cadena que se usa con una coherencia en el ámbito de sesión." />
          </param>
          <param style="header" name="x-ms-activity-id" type="xs:string">
            <doc title="Identificador proporcionado por el cliente para la operación, que se mostrará en la respuesta del servidor." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:getDocumentResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/dbs/{databaseId}/colls/{collectionId}/docs/{documentId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <param style="template" name="documentId" type="xs:string" required="true">
        <doc title="Identificador del documento." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="ReplaceDocument" actionName="ReplaceDocument" siena:isDeprecated="true" siena:family="ReplaceDocument" siena:revision="1" siena:status="Production">
        <doc title="Reemplazar un documento&#xA;Permite reemplazar un documento." />
        <request>
          <param style="header" name="x-ms-documentdb-raw-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-documentdb-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-max-item-count" type="xs:double">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="header" name="x-ms-continuation" type="xs:string">
            <doc title="Token de cadena que se devuelve para consultas y operaciones de lectura de fuente si hay más resultados que se leerán." />
          </param>
          <param style="header" name="x-ms-consistency-level" type="xs:string">
            <doc title="Consisten en la invalidación del nivel de coherencia. Los valores válidos son Seguro, Limitado, Sesión o Posible (ordenados de más seguro a menos seguro)." />
            <option value="Strong" />
            <option value="Bounded" />
            <option value="Session" />
            <option value="Eventual" />
          </param>
          <param style="header" name="x-ms-session-token" type="xs:string">
            <doc title="Token de cadena que se usa con una coherencia en el ámbito de sesión." />
          </param>
          <param style="header" name="x-ms-activity-id" type="xs:string">
            <doc title="Identificador proporcionado por el cliente para la operación, que se mostrará en la respuesta del servidor." />
          </param>
          <param style="header" name="x-ms-documentdb-pre-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar antes de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-documentdb-post-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar después de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="body" path="" type="service:putDocumentRequest" required="true">
              <doc title="Documento por el que se va a reemplazar." />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:putDocumentResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/dbs/{databaseId}/colls/{collectionId}/docs/{documentId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <param style="template" name="documentId" type="xs:string" required="true">
        <doc title="Identificador del documento." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteDocument" actionName="DeleteDocument" siena:isDeprecated="true" siena:family="DeleteDocument" siena:revision="1" siena:status="Production">
        <doc title="Eliminar un documento&#xA;Permite eliminar un documento." />
        <request>
          <param style="header" name="x-ms-documentdb-raw-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-documentdb-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-max-item-count" type="xs:double">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="header" name="x-ms-continuation" type="xs:string">
            <doc title="Token de cadena que se devuelve para consultas y operaciones de lectura de fuente si hay más resultados que se leerán." />
          </param>
          <param style="header" name="x-ms-consistency-level" type="xs:string">
            <doc title="Consisten en la invalidación del nivel de coherencia. Los valores válidos son Seguro, Limitado, Sesión o Posible (ordenados de más seguro a menos seguro)." />
            <option value="Strong" />
            <option value="Bounded" />
            <option value="Session" />
            <option value="Eventual" />
          </param>
          <param style="header" name="x-ms-session-token" type="xs:string">
            <doc title="Token de cadena que se usa con una coherencia en el ámbito de sesión." />
          </param>
          <param style="header" name="x-ms-activity-id" type="xs:string">
            <doc title="Identificador proporcionado por el cliente para la operación, que se mostrará en la respuesta del servidor." />
          </param>
          <param style="header" name="x-ms-documentdb-pre-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar antes de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-documentdb-post-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar después de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/cosmosdb/{cosmosDbAccountName}/dbs/{databaseId}/colls/{collectionId}/docs/{documentId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="cosmosDbAccountName" type="xs:string" required="true">
        <doc title="El nombre de la cuenta de Azure Cosmos DB (sin documents.azure.com)." />
      </param>
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <param style="template" name="documentId" type="xs:string" required="true">
        <doc title="El identificador del documento." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetDocumentV2" actionName="GetDocument_V2" siena:isDeprecated="false" siena:family="GetDocument" siena:revision="2" siena:status="Production">
        <doc title="Obtener un documento (V2)&#xA;Permite obtener un documento (V2)." />
        <request>
          <param style="header" name="x-ms-documentdb-raw-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-documentdb-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-max-item-count" type="xs:double">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="header" name="x-ms-continuation" type="xs:string">
            <doc title="Token de cadena que se devuelve para consultas y operaciones de lectura de fuente si hay más resultados que se leerán." />
          </param>
          <param style="header" name="x-ms-consistency-level" type="xs:string">
            <doc title="Consisten en la invalidación del nivel de coherencia. Los valores válidos son Seguro, Limitado, Sesión o Posible (ordenados de más seguro a menos seguro)." />
            <option value="Strong" />
            <option value="Bounded" />
            <option value="Session" />
            <option value="Eventual" />
          </param>
          <param style="header" name="x-ms-session-token" type="xs:string">
            <doc title="Token de cadena que se usa con una coherencia en el ámbito de sesión." />
          </param>
          <param style="header" name="x-ms-activity-id" type="xs:string">
            <doc title="Identificador proporcionado por el cliente para la operación, que se mostrará en la respuesta del servidor." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:getDocumentResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/cosmosdb/{cosmosDbAccountName}/dbs/{databaseId}/colls/{collectionId}/docs/{documentId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="cosmosDbAccountName" type="xs:string" required="true">
        <doc title="El nombre de la cuenta de Azure Cosmos DB (sin documents.azure.com)." />
      </param>
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <param style="template" name="documentId" type="xs:string" required="true">
        <doc title="Identificador del documento." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="ReplaceDocumentV2" actionName="ReplaceDocument_V2" siena:isDeprecated="false" siena:family="ReplaceDocument" siena:revision="2" siena:status="Production">
        <doc title="Reemplazar un documento (V2)&#xA;Permite reemplazar un documento (V2)." />
        <request>
          <param style="header" name="x-ms-documentdb-raw-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-documentdb-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-max-item-count" type="xs:double">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="header" name="x-ms-continuation" type="xs:string">
            <doc title="Token de cadena que se devuelve para consultas y operaciones de lectura de fuente si hay más resultados que se leerán." />
          </param>
          <param style="header" name="x-ms-consistency-level" type="xs:string">
            <doc title="Consisten en la invalidación del nivel de coherencia. Los valores válidos son Seguro, Limitado, Sesión o Posible (ordenados de más seguro a menos seguro)." />
            <option value="Strong" />
            <option value="Bounded" />
            <option value="Session" />
            <option value="Eventual" />
          </param>
          <param style="header" name="x-ms-session-token" type="xs:string">
            <doc title="Token de cadena que se usa con una coherencia en el ámbito de sesión." />
          </param>
          <param style="header" name="x-ms-activity-id" type="xs:string">
            <doc title="Identificador proporcionado por el cliente para la operación, que se mostrará en la respuesta del servidor." />
          </param>
          <param style="header" name="x-ms-documentdb-pre-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar antes de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-documentdb-post-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar después de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="body" path="" type="service:putDocumentRequest" required="true">
              <doc title="Documento por el que se reemplazará." />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:putDocumentResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/cosmosdb/{cosmosDbAccountName}/dbs/{databaseId}/colls/{collectionId}/docs/{documentId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="cosmosDbAccountName" type="xs:string" required="true">
        <doc title="El nombre de la cuenta de Azure Cosmos DB (sin documents.azure.com)." />
      </param>
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <param style="template" name="documentId" type="xs:string" required="true">
        <doc title="Identificador del documento." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteDocumentV2" actionName="DeleteDocument_V2" siena:isDeprecated="false" siena:family="DeleteDocument" siena:revision="2" siena:status="Production">
        <doc title="Eliminar un documento (V2)&#xA;Permite eliminar un documento (V2)." />
        <request>
          <param style="header" name="x-ms-documentdb-raw-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-documentdb-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-max-item-count" type="xs:double">
            <doc title="Entero que indica el número máximo de elementos que se devolverán por página." />
          </param>
          <param style="header" name="x-ms-continuation" type="xs:string">
            <doc title="Token de cadena que se devuelve para consultas y operaciones de lectura de fuente si hay más resultados que se leerán." />
          </param>
          <param style="header" name="x-ms-consistency-level" type="xs:string">
            <doc title="Consisten en la invalidación del nivel de coherencia. Los valores válidos son Seguro, Limitado, Sesión o Posible (ordenados de más seguro a menos seguro)." />
            <option value="Strong" />
            <option value="Bounded" />
            <option value="Session" />
            <option value="Eventual" />
          </param>
          <param style="header" name="x-ms-session-token" type="xs:string">
            <doc title="Token de cadena que se usa con una coherencia en el ámbito de sesión." />
          </param>
          <param style="header" name="x-ms-activity-id" type="xs:string">
            <doc title="Identificador proporcionado por el cliente para la operación, que se mostrará en la respuesta del servidor." />
          </param>
          <param style="header" name="x-ms-documentdb-pre-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar antes de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-documentdb-post-trigger-include" type="xs:string">
            <doc title="Lista de nombres de desencadenadores separados por comas que se deben ejecutar después de que se ejecute la operación del documento." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/dbs/{databaseId}/colls/{collectionId}/sprocs">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetStoredProcedures" actionName="GetStoredProcedures" siena:isDeprecated="true" siena:family="GetStoredProcedures" siena:revision="1" siena:status="Production">
        <doc title="Obtener procedimientos almacenados&#xA;Permite obtener procedimientos almacenados en la colección especificada." />
        <request>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:getStoredProceduresResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/dbs/{databaseId}/colls/{collectionId}/sprocs">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateStoredProcedure" actionName="CreateStoredProcedure" siena:isDeprecated="true" siena:family="CreateStoredProcedure" siena:revision="1" siena:status="Production">
        <doc title="Crear procedimiento almacenado&#xA;Permite crear un procedimiento almacenado." />
        <request>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="body" path="/body" type="xs:string" />
            <param style="plain" name="id" path="/id" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:createStoredProcedureResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/cosmosdb/{cosmosDbAccountName}/dbs/{databaseId}/colls/{collectionId}/sprocs">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="cosmosDbAccountName" type="xs:string" required="true">
        <doc title="El nombre de la cuenta de Azure Cosmos DB (sin documents.azure.com)." />
      </param>
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetStoredProceduresV2" actionName="GetStoredProcedures_V2" siena:isDeprecated="false" siena:family="GetStoredProcedures" siena:revision="2" siena:status="Production">
        <doc title="Obtener procedimientos almacenados (V2)&#xA;Permite obtener procedimientos almacenados en la colección especificada (V2)." />
        <request>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:getStoredProceduresResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/cosmosdb/{cosmosDbAccountName}/dbs/{databaseId}/colls/{collectionId}/sprocs">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="cosmosDbAccountName" type="xs:string" required="true">
        <doc title="El nombre de la cuenta de Azure Cosmos DB (sin documents.azure.com)." />
      </param>
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateStoredProcedureV2" actionName="CreateStoredProcedure_V2" siena:isDeprecated="false" siena:family="CreateStoredProcedure" siena:revision="2" siena:status="Production">
        <doc title="Crear procedimiento almacenado (V2)&#xA;Permite crear un procedimiento almacenado (V2)." />
        <request>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="body" path="/body" type="xs:string" />
            <param style="plain" name="id" path="/id" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:createStoredProcedureResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/dbs/{databaseId}/colls/{collectionId}/sprocs/{sprocId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <param style="template" name="sprocId" type="xs:string" required="true">
        <doc title="Nombre del procedimiento almacenado." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="ReplaceStoredProcedure" actionName="ReplaceStoredProcedure" siena:isDeprecated="true" siena:family="ReplaceStoredProcedure" siena:revision="1" siena:status="Production">
        <doc title="Reemplazar procedimiento almacenado&#xA;Permite reemplazar el procedimiento almacenado." />
        <request>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="body" path="/body" type="xs:string" />
            <param style="plain" name="id" path="/id" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:createStoredProcedureResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/dbs/{databaseId}/colls/{collectionId}/sprocs/{sprocId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <param style="template" name="sprocId" type="xs:string" required="true">
        <doc title="Nombre del procedimiento almacenado." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ExecuteStoredProcedure" actionName="ExecuteStoredProcedure" siena:isDeprecated="true" siena:family="ExecuteStoredProcedure" siena:revision="1" siena:status="Production">
        <doc title="Ejecutar procedimiento almacenado&#xA;Permite ejecutar el procedimiento almacenado en la colección especificada." />
        <request>
          <param style="header" name="x-ms-documentdb-raw-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-documentdb-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="parameters" path="" type="xs:string">
              <doc title="Especifique un archivo JSON válido para los parámetros del procedimiento almacenado, por ejemplo, [&quot;parám1&quot;, &quot;parám2&quot;]." />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ObjectWithoutType" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/dbs/{databaseId}/colls/{collectionId}/sprocs/{sprocId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <param style="template" name="sprocId" type="xs:string" required="true">
        <doc title="Nombre del procedimiento almacenado." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteStoredProcedure" actionName="DeleteStoredProcedure" siena:isDeprecated="true" siena:family="DeleteStoredProcedure" siena:revision="1" siena:status="Production">
        <doc title="Eliminar procedimiento almacenado&#xA;Permite eliminar el procedimiento almacenado." />
        <request>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="xs:string" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/cosmosdb/{cosmosDbAccountName}/dbs/{databaseId}/colls/{collectionId}/sprocs/{sprocId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="cosmosDbAccountName" type="xs:string" required="true">
        <doc title="El nombre de la cuenta de Azure Cosmos DB (sin documents.azure.com)." />
      </param>
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <param style="template" name="sprocId" type="xs:string" required="true">
        <doc title="Nombre del procedimiento almacenado." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="ReplaceStoredProcedureV2" actionName="ReplaceStoredProcedure_V2" siena:isDeprecated="false" siena:family="ReplaceStoredProcedure" siena:revision="2" siena:status="Production">
        <doc title="Reemplazar procedimiento almacenado (V2)&#xA;Permite reemplazar el procedimiento almacenado (V2)." />
        <request>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="body" path="/body" type="xs:string" />
            <param style="plain" name="id" path="/id" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:createStoredProcedureResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/cosmosdb/{cosmosDbAccountName}/dbs/{databaseId}/colls/{collectionId}/sprocs/{sprocId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="cosmosDbAccountName" type="xs:string" required="true">
        <doc title="El nombre de la cuenta de Azure Cosmos DB (sin documents.azure.com)." />
      </param>
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <param style="template" name="sprocId" type="xs:string" required="true">
        <doc title="Nombre del procedimiento almacenado." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ExecuteStoredProcedureV2" actionName="ExecuteStoredProcedure_V2" siena:isDeprecated="false" siena:family="ExecuteStoredProcedure" siena:revision="2" siena:status="Production">
        <doc title="Ejecutar procedimiento almacenado (V2)&#xA;Permite ejecutar el procedimiento almacenado en la colección especificada (V2)." />
        <request>
          <param style="header" name="x-ms-documentdb-raw-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-documentdb-partitionkey" type="xs:string">
            <doc title="Valor de la clave de partición para el documento solicitado o la operación adjunta." />
          </param>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="parameters" path="" type="xs:string">
              <doc title="Especifique un JSON válido para los parámetros del procedimiento almacenado, por ejemplo, [&quot;param1&quot;, &quot;param2&quot;]." />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ObjectWithoutType" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/cosmosdb/{cosmosDbAccountName}/dbs/{databaseId}/colls/{collectionId}/sprocs/{sprocId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="cosmosDbAccountName" type="xs:string" required="true">
        <doc title="El nombre de la cuenta de Azure Cosmos DB (sin documents.azure.com)." />
      </param>
      <param style="template" name="databaseId" type="xs:string" required="true">
        <doc title="Nombre de la base de datos." />
      </param>
      <param style="template" name="collectionId" type="xs:string" required="true">
        <doc title="Nombre de la colección." />
      </param>
      <param style="template" name="sprocId" type="xs:string" required="true">
        <doc title="Nombre del procedimiento almacenado." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteStoredProcedureV2" actionName="DeleteStoredProcedure_V2" siena:isDeprecated="false" siena:family="DeleteStoredProcedure" siena:revision="2" siena:status="Production">
        <doc title="Eliminar procedimiento almacenado (V2)&#xA;Permite eliminar el procedimiento almacenado (V2)." />
        <request>
          <param style="header" name="x-ms-version" type="xs:string">
            <doc title="Versión de la API." />
            <option value="2017-05-03" />
            <option value="2018-12-31" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="xs:string" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_documentdb" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>